KAFKA_NODE_ID=1
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_HEAP_OPTS=-Xmx512m -Xms256m
CLUSTER_ID=<base64-encoded-uuid>
PROMETHEUS_RETENTION_TIME=2h
GF_SECURITY_ADMIN_PASSWORD=<change-me>
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
